{{!< announcement}}
{{!-- The tag above means: insert everything in this file
into the {body} of a template where you unsert {{> "announcement"}} --}}
<div class="pw-announcement-box">
  <a class="pw-announcement" href="https://pitscher.com" target="_blank" rel="noopener noreferrer"><strong>Hinweis</strong> Es laufen Wartungsarbeiten. <svg data-cy="arrow-right-small-icon" viewBox="0 0 18 27"><path d="M2.397 25.426l13.143-11.5-13.143-11.5" stroke-width="3" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
</div>